<%- include("header") -%>

<div class="box" id="heading">
  <h1>
    <%=listTitle%>
  </h1></div>
    

<div class="box" >
  <% for (let i=0; i<newListItems.length; i++) { %>
    <div class="item">
      <input type="checkbox">
      <p><%=  newListItems[i]  %></p>
    </div>
    <% } %>

  <form action="/" method="post" class="item">
    <input type="text" name="newItem" placeholder="ðŸ“new item here" autocomplete="off" />
    <button type="submit" name="list">+</button>
  </form>
</div>

<%- include("footer")-%>
